@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;600;800&display=swap");

:root {
  --primary-color: #01086d;
  --secondary-color: #43ba0b;
  --tertiary-color: rgb(193, 196, 233, 0.45);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
