@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;600;800&display=swap");

:root {
  --primary-color: #010654;
  --secondary-color: #f3bd41;
  --tertiary-color: #dadaf2;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
